#heading{
    background-color: black;
    color: white;

}


#calculator{
    margin-left: 170px;
    margin-top: 160px;
    width:40%;
    height:70%;
    min-width:300px;
    border: 2px solid black;
}

#display-container{
     /* font-size: 2.8rem;
     color: blue;
     width: 100%;
     height: 20%;
     border:2px solid black;
     margin: 4px;
     margin-bottom: -1px; */
     font-size: 1.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--blue);
    width: 100%;
    height: 10%;
    max-height: 30px;
    min-height: 30px;
    border-radius: var(--border-radius);
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin: 0px;
}

#display{
    margin: 0.1rem;
    vertical-align: text-bottom;
}

.button{
    width:24%;
    height:20%;
    display:inline-block;
    border:2px solid black;
    background-color: burlywood;
    font-size: 1.8rem;
    padding: 0%;
    margin: -2px;
    margin-bottom: -1px;
}


